{% extends "cthulhuTemplate/base/base_cthulhu.html" %}
{% load static %}

{% block content %}
<div class="container-xxl">
    <div class="container-xxl text-white text-center">
        <h1>LISTE DES CAMPAGNES</h1>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-3">
        {% for campagne in campagnes_cthulhu  %}
        <div class="col">
            <div class="card h-100 bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg"%}')">
                {% if campagne.image_campagne %}
                    <img src="{{ campagne.image_campagne.url }}" class="object-fit-contain border rounded" alt="Image">
                {% else %}
                    <img src="{% static "img/img_default/cthulhu_defaut_campagne.jpg" %}" class="object-fit-contain border rounded" alt="Image">  
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ campagne.nom_de_campagne }}</h5>
                    <p class="card-text text-dark">Status: {{ campagne.campagne_etat }}</p>
                    <p class="card-text text-dark">Maitre du jeu: {{ campagne.gardien.username }}</p>
                    <p class="card-text text-dark">Date de création: {{ campagne.date_creation }}</p>
                    <p class="card-text text-dark">Date de début: {{ campagne.date_debut }}</p>
                    <p class="card-text text-dark">Date de fin: {{ campagne.date_end }}</p>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-success" role="button">Joueurs</a>
                    <a href="#" class="btn btn-primary" role="button">Editter</a>
                    <a href="#" class="btn btn-danger" role="button">Effacer</a>
                </div>
                <div class="card-footer">
                <small class="text-muted">Date de modification: {{ campagne.date_update }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="container-xxl text-white text-center">
        <h1>LISTE DES INVESTIGATEURS</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-3">
        {% for investigateur in investigateur_cthulhu  %}
        <div class="col">
            <div class="card h-100 bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg"%}')">
                {% if investigateur.photo_investigateur %}
                    <img src="{{ investigateur.photo_investigateur.url }}" class="object-fit-contain border rounded "  alt="Image">
                {% else %}
                    <img src="{% static "img/img_default/cthulhu_default_investigateur.jpg" %}" class="object-fit-contain border rounded" alt="Image">  
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ investigateur.nom }}</h5>
                    <p class="card-text text-dark">Joueur: <br> {{ investigateur.joueur.username }}</p>
                    <p class="card-text text-dark">Date de modification: <br>{{ investigateur.date_update }}</p>
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="{% url 'cthulhu:details_investigateur' pk=investigateur.id %}" class="btn btn-success" role="button">Détails</a>
                    <a href="#" class="btn btn-danger" role="button">Effacer</a>
                    <a href="#" class="btn btn-info" role="button">Retour</a>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Date de création: {{ investigateur.date_creation }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
            
</div>
{% endblock content %}
