{% extends "homeTemplate/base/home_base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container overflow-hidden text-center bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg" %}')">
    <h4 class="p-2 mb-2 bg-dark bg-gradient text-white">Mon Compte utilisateur</h4>
    <div class="container text-center text-white">
        <h1> {{user.username.upper}} vous souhaitez effacer  votre Compte Utilisateur</h1>
        <form enctype="multipart/form-data" method="POST" class="post-form border border-dark p-3">
        {% csrf_token %}
        <p>Voulez-vous supprimer votre Compte Utilisateur: {{ user.username }} ? </p>
        <p>Tout vos personnages et campagnes seront definitivement supprimés. </p>
            <input class="valid-ticket"type="submit" value="Validez la suppression du compte">
        </form>
        <a class="" href="{% url 'account:monCompte' pk=user.id %}" >Retour page profile</a>
    </div>
</div>
{% endif %}
{% endblock %}