{% extends "warhamTemplate/base/base_warham.html" %}
{% load static %}
{% block content %}
<div class="container overflow-hidden text-center bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg" %}')">
    <div class=" text-center">
        <h4 class="p-2 mb-2 bg-dark bg-gradient text-white">Armure(s)</h4>
        <div class="table-responsive">
            <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Armure&nbsp;<i class="bi bi-shield-plus"></i></th>
                            <th scope="col">LOC</th>
                            <th scope="col">PA</th>
                            <th scope="col">Enc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form.nom }}</td>
                            <td>{{ form.localisation }}</td>
                            <td>{{ form.protection }}</td>
                            <td>{{ form.encombrement }}</td>
                        </tr>
                    </tbody>
                </table>
                <input class="valid-ticket" type="submit" value="Validez votre Armure">
            </form>
            <a class="" href="{% url 'warhammer:details_personnages' pk=armure.player.id %}" >Retour page liste</a>   
        </div>
    </div>
</div>
{% endblock content %}