{% load static %}
<h4 class="p-2 mb-2 bg-dark bg-gradient text-white">Magie Elémentaire</h4>
<div class="carousel-wrapper">
    <div id="carouselMagieElementaire" class="carousel slide">
        <div class="carousel-inner">
        {% for magie_elementaire in magies_elementaires %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <div class="container bg-dark text-center text-white">
                    <div class="row bg-gradient">
                        <div class="col">
                            Nom:<br> {{ magie_elementaire.nom_sortilege }}
                        </div>
                    </div>
                    <br>
                    <div class="row bg-gradient">
                        <div class="col">
                            Niveau du sort: <br>{{ magie_elementaire.niveau_sort }} 
                        </div>
                        <div class="col">
                            Composants : <br>{{ magie_elementaire.composants }}
                        </div>
                        <div class="col">
                            Coût Point de magie: <br> {{ magie_elementaire.cout_point_magie }}
                        </div> 
                    </div>
                    <br>
                    <div class="row bg-gradient">
                        <div class="col">
                            Portée: <br>{{ magie_elementaire.porte }}
                        </div>
                        <div class="col">
                            Durée: <br>{{ magie_elementaire.duree }}
                        </div>
                        <div class="col">
                            Dégats: <br>{{ magie_elementaire.degats }}
                        </div> 
                    </div>
                    <br>
                    <div class="row bg-gradient">
                        <div class="col">
                            Description du sort: <br>{{ magie_elementaire.description_sort }}
                        </div>
                    </div>
                    <br>
                    <div class="row bg-gradient">
                        <div class="col">
                            Description de l'incantation: <br>{{ magie_elementaire.incantation }}
                        </div>
                    </div>
                    <br>
                    <div class="row bg-gradient">
                        <div class="col">
                            Lieu d'apprentissage: <br>{{ magie_elementaire.apprentissage }}
                        </div>
                        <div class="col">
                            Cout en XP: <br>{{ magie_elementaire.cout_xp }}
                        </div> 
                    </div>
                    <br>
                    <a href="{% url 'warhammer:editter_sortilege' pk=magie_elementaire.id %}" class="btn btn-primary">modifier</a>
                    <a href="#" class="btn btn-danger">supprimer</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMagieElementaire" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMagieElementaire" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<style>
    .carousel-wrapper {
        position: relative;
    }

    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 50%;
    }
</style>