{% extends "accountTemplate/base/registration_base.html" %}
{% load static %}

{% block content %}
<div class="container login mt-5 d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Inscrivez-vous maintenant</h2>
            <a class="btn btn-primary" href="{% url 'account:inscription' %}">S'inscrire</a>
        </div>
        <div class="col">
            <h1>{{ titre }}</h1>  <!-- Utilisation de la variable 'titre' du contexte pour afficher le titre de la page -->
            <p>{{ slogan }}</p>  <!-- Utilisation de la variable 'slogan' du contexte pour afficher le slogan de la page -->
            <form  method="post">
            {% csrf_token %}
                <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur"><br>
                <input type="password" class="form-control" name="password" placeholder="Mot de passe"><br>
                <input class="btn btn-primary" type="submit" value="Se connecter">
            </form>
        </div>
    </div>
</div>

{% endblock content %}