{% extends "cthulhuTemplate/base/base_cthulhu.html" %}
{% load static %}

{% block content %}
<div class="container-xxl bg-white border text-center">
    <h1>FEUILLE DE PERSONNAGE</h1>
    <!-- Content here -->
    <div class="row border">
        <div class="col border">
            <p>Style de jeu: {{ investigateur.campagne_cthulhu.style_de_jeu }} </p>
        </div>
        <div class="col border">
            <p>Gardien: {{ investigateur.campagne_cthulhu.gardien }} </p>
        </div>
        <div class="col border">
            <p>Campagne: {{ investigateur.campagne_cthulhu.nom_de_campagne }} </p>
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-3 border">
            {% if investigateur.photo_investigateur %}
                <img src="{{ investigateur.photo_investigateur.url }}" class="img-fluid"  alt="Image">
            {% else %}
                <img src="{% static "img/img_default/cthulhu_default_investigateur.jpg" %}" class="img-fluid" alt="Image">  
            {% endif %}
        </div>
        <div class="col-sm-9 border">
            <div class="row border">
                <div class="col-8 col-sm-6 border">
                    <p>Caractéristiques & Attributs:</p>
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            <p class="text-start">APP: {{ caracteristiques.apparence }} </p>
                            <p class="text-start">CON: {{ caracteristiques.constitution }} </p>
                            <p class="text-start">DEX: {{ caracteristiques.dexterite }} </p>
                            <p class="text-start">FOR: {{ caracteristiques.force }} </p>
                            <p class="text-start">TAI: {{ caracteristiques.taille }} </p>
                            <p class="text-start">EDU: {{ caracteristiques.education }} </p>
                            <p class="text-start">INT: {{ caracteristiques.intelligence }} </p>
                            <p class="text-start">POU: {{ caracteristiques.pouvoir }} </p>
                        </div>
                            <div class="col-4 col-sm-6">
                            <p class="text-start">Prestance: {{ caracteristiques.prestance }} %</p>
                            <p class="text-start">Endurance: {{ caracteristiques.endurance }} %</p>
                            <p class="text-start">Agilité: {{ caracteristiques.agilte }} %</p>
                            <p class="text-start">Puissance: {{ caracteristiques.puissance }} %</p>
                            <p class="text-start">Corpulence: {{ caracteristiques.corpulence }} %</p>
                            <p class="text-start">Connaissance: {{ caracteristiques.connaissance }} %</p>
                            <p class="text-start">Intuition: {{ caracteristiques.intuition }} %</p>
                            <p class="text-start">Volonté: {{ caracteristiques.volonte }} %</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-6 border">
                    <p>Etat civil</p>
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            <p class="text-start">Nom: {{ investigateur.nom }} </p>
                            <p class="text-start">Occupation: {{ investigateur.occupation }} </p>
                            <p class="text-start">Profession: {{ investigateur.profession }} </p>
                            <p class="text-start">Personnalité: {{ investigateur.personnalite }} </p> 
                            <p class="text-start">Niveau de vie: ............% </p> 
                        </div>
                        <div class="col-4 col-sm-6">
                            <p class="text-start">Prénom: {{ investigateur.prenom }} </p>
                            <p class="text-start">Age: {{ investigateur.age }} </p>
                            <p class="text-start">Sexe: {{ investigateur.sexe}} </p>
                            <p class="text-start">Nationalité: {{ investigateur.nationalite }} </p>
                        </div>
                    </div>
                    <p>Cercles d'influence</p>
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            <p class="text-start">Proche: {{ investigateur.cercle_proche }} </p>
                            <p class="text-start">Eloignés: {{ investigateur.cercle_eloigner }} </p> 
                        </div>
                        <div class="col-4 col-sm-6">
                            <p class="text-start">Opposés: {{ investigateur.cercle_opposer }} </p>
                            <p class="text-start">Ennemi: {{ investigateur.cercle_ennemis }} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start border">
                <div class="col text-start">
                    <p>Santé MAX: {{ caracteristiques.points_de_vie }} </p>
                </div>
                <div class="col text-start">
                    <p>Protections:</p>
                </div>
                <div class="col text-start">
                    <p>Seuil de blessure: {{ caracteristiques.seuil_de_blessure }}</p>
                </div>
                <p class="text-start">Points de vie: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20</p>    
            </div>
        </div>
    </div>
    <p>Competences</p>

    <div class="row border">
        <div class="col border">
            <p>Connaissance</p>
            <div>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
            </div>
        </div>
        <div class="col border">
            <p>Savoir-faire</p>
            <div>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
            </div>
        </div>
        <div class="col border">
            <p>Sensorielle</p>
            <div>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
            </div>
        </div>
        <div class="col border">
            <p>Influence</p>
            <div>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
            </div>
        </div>
        <div class="col border">
            <p>Action</p>
            <div>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
                <p class="text-start"> Bureaucratie (10%):&nbsp;&nbsp;  90% &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input bg-secondary" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </p>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col border">
            <p>Santé Mentale</p>
            <p>Modificateur social:.....%&nbsp;&nbsp;Aplomb: {{ caracteristiques.aplomb }}&nbsp;&nbsp;SAN initiale:{{ caracteristiques.sante_mentale }}&nbsp;&nbsp;SAN MAX (99-Mythe de Cthulhu):....</p>         
            <p class="text-start">Points de SAN: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49<br>&nbsp;&nbsp;50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99</p>
        </div>
    </div>
    <div class="row border">
        <div class="col border">
            <p>Equipements</p>
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Arme &nbsp;<a href="#"><i class="bi bi-plus-square"></i></a></th>
                        <th scope="col">Dégats</th>
                        <th scope="col">Porté</th>
                        <th scope="col">Cadence de tir</th>
                        <th scope="col">Chargeur</th>
                        <th scope="col"><small>Modifier</small></th>
                        <th scope="col"><small>Effacer</small></th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                          <td data-bs-toggle="popover" data-bs-title="Note" data-bs-content="{{ equipement.note }}">aaaaa</td>
                          <td>ggg</td>
                          <td>hhh</td>
                          <td>hhh</td>
                          <td>hhh</td>
                          <td><a href="#"><i class="bi bi-pencil"></i></a></td>
                          <td><a href="#"><i class="bi bi-trash3"></i></a></td>
                        </tr>
                        
                    </tbody>
                </table>
              </div>
        </div>
        <div class="col border">
            <p>Armes</p>
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Arme &nbsp;<a href="#"><i class="bi bi-plus-square"></i></a></th>
                            <th scope="col">Dégats</th>
                            <th scope="col">Porté</th>
                            <th scope="col">Cadence de tir</th>
                            <th scope="col">Chargeur</th>
                            <th scope="col"><small>Modifier</small></th>
                            <th scope="col"><small>Effacer</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td data-bs-toggle="popover" data-bs-title="Note" data-bs-content="{{ equipement.note }}">aaaaa</td>
                            <td>ggg</td>
                            <td>hhh</td>
                            <td>hhh</td>
                            <td>hhh</td>
                            <td><a href="#"><i class="bi bi-pencil"></i></a></td>
                            <td><a href="#"><i class="bi bi-trash3"></i></a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <p>Impact: {{ caracteristiques.impact }}&nbsp;&nbsp; Pieds:&nbsp; 1D6&nbsp;Poings:&nbsp;1D3&nbsp;Tête:&nbsp;1D4&nbsp;</p>
        </div>
    </div>
</div>
{% endblock content %}