{% extends "homeTemplate/base/home_base.html" %}
{% load static %}
{% block content %}
<div class="container overflow-hidden text-center bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg" %}')">
    <h4 class="p-2 mb-2 bg-dark bg-gradient text-white">Mon profil</h4>
    <div class="container text-center text-white">
        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
            <div class="row bg-dark bg-gradient bg-opacity-50">
                <div class="col">
                    Photo du profil: <br> {{ form.profile_picture }}
                </div>
                <div class="col">
                    Nom utilisateur: <br>{{ form.username }}
                </div>
                <div class="col">
                    Email: <br>{{ form.email}}
                </div>
                <div class="col">
                    Nom: <br>{{ form.first_name}}
                </div>
                <div class="col">
                    Prénom: <br>{{ form.last_name}}
                </div>
            </div>
            <br>
            <input class="valid-ticket" type="submit" value="Validez vos modifications">
        </form>
        <a class="" href="{% url 'account:monCompte' pk=user.id %}" >Retour page profil</a> 
    </div>
</div>
{% endblock content %}
