<h4 class="p-2 mb-2 bg-dark bg-gradient text-white">Armure(s) </h4>
<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Armure&nbsp;<a href="{% url 'warhammer:ajouter_armure' pk=personnage.id %}"><i class="bi bi-shield-plus"></i></a></th>
              <th scope="col">LOC</th>
              <th scope="col">PA</th>
              <th scope="col">Enc</th>
              <th scope="col">Modifier</th>
              <th scope="col">Effacer</th>
            </tr>
        </thead>
        <tbody>
            {% for armure in armures %}
            <tr>
                <td>{{ armure.nom }}</td>
                <td>{{ armure.localisation }}</td>
                <td>{{ armure.protection }}</td>
                <td>{{ armure.encombrement }}</td>
                <td><a href="{% url 'warhammer:editter_armure' pk=armure.id %}"><i class="bi bi-shield"></i></a></td>
                <td><a href="{% url 'warhammer:supprimer_armure' pk=armure.id %}"><i class="bi bi-shield-minus"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>