{% extends "warhamTemplate/base/base_warham.html" %}
{% load static %}

{% block content %}
<div class="container overflow-hidden text-center bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg" %}')">
    <!-- logo -->
    <div >
        <img class="top-image img-fluid" src="{% static "img/logo/logo_warham_header.png" %}" alt="">
    </div>
    <br>
    <!-- Navigation TABS -->
    <div class=" text-center">
        <h1>FEUILLE DE PERSONNAGE</h1>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="{% url 'warhammer:details_personnages' pk=personnage.id %}">Personnage</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#descriptionModal">
                        Description
                    </button>
                </li>
                <li class="nav-item">
                    {% if magies|length != 0 %}
                    <a class="nav-link active" aria-current="true" href="{% url 'warhammer:details_magie' pk=personnage.id %}">Magie(s)</a>
                    {% else %}
                    <a class="nav-link active" aria-current="true" href="{% url 'warhammer:ajouter_magie' pk=personnage.id %}">Magie(s)</a>
                    {% endif%}

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="{% url 'warhammer:details_monture' pk=personnage.id %}">Monture(s)</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Note(s)
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="{% url 'warhammer:liste_campagne'  %}">Retour</a>
                </li>
                
            </ul>
        </div>
        <!-- FIN Navigation TABS-->

  
        <!-- Modal Description du personnage-->
        <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionLabel" aria-hidden="true" >
            {% include "warhamTemplate/player/details/description.html" %}
        </div>
        <!-- FIN Modal Description du personnage-->

        <!-- Fiche de personnage -->
        <div class="row g-2 ">
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/personnage.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/campagne.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/details_personnels.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/points_experience.html" %} <br><br>{% include "warhamTemplate/player/details/points_destin.html" %}</div>
            </div>
            <div class="col">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/profil_carac.html" %}</div>
            </div>
        </div>
        <br>
        <div class="row g-2 ">
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/points_blessures.html" %} <br>{% include "warhamTemplate/player/details/mouvement.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/initiative_groupe.html" %}</div>
            </div>
            
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/armes.html" %} {% include "warhamTemplate/player/details/armures.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/points_armures.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/competences.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/equipements.html" %}</div>
            </div>
            <div class="col-6">
                <div class="p-3 border border-dark">{% include "warhamTemplate/player/details/argents.html" %}</div>
            </div>   
        </div>
    <!-- FIN Fiche de personnage -->
        <br>
    </div>
</div>
{% endblock content %}
