<h4 class="p-2 mb-2 bg-dark bg-gradient text-white">Points d'expereience</h4>

<div class="container text-center text-white">
    <div class="row bg-dark bg-gradient bg-opacity-50">
        <div class="col">
            Experience actuelle:&nbsp;<a href="{% url 'warhammer:editter_experience' pk=experience.id %}"><i class="bi bi-plus-square"></i></a> <br> {{ experience.xp_actuelle }}
        </div>
        <div class="col">
            Experience dépensées:&nbsp;<a href="{% url 'warhammer:editter_experience' pk=experience.id %}"><i class="bi bi-plus-square"></i></a> <br> {{ experience.xp_depense }}
        </div>
        <div class="col">
            Experience total: <br> {{ experience.xp_total }}
        </div> 
    </div>
</div>