{% extends "warhamTemplate/base/base_warham.html" %}
{% load static %}

{% block content %}
<div class="container-xxl">
    <div class="container-xxl text-dark text-center">
        <h1>LISTE DES CAMPAGNES</h1>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-3">
        {% for campagne in campagnes_warhammer  %}
        <div class="col">
            <div class="card h-100 bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg"%}')">
                {% if campagne.image_campagne %}
                    <img src="{{ campagne.image_campagne.url }}" class="object-fit-contain border rounded" alt="Image">
                {% else %}
                    <img src="{% static "img/img_default/base_01.png" %}" class="object-fit-contain border rounded" alt="Image">  
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ campagne.nom_de_campagne }}</h5>
                    <p class="card-text text-dark">Status: {{ campagne.campagne_etat }}</p>
                    <p class="card-text text-dark">Maitre du jeu: {{ campagne.maitre_du_jeu.username }}</p>
                    <p class="card-text text-dark">Date de création: {{ campagne.date_creation }}</p>
                </div>
                <div class="btn-group">
                    <a href="{% url 'warhammer:liste_personnages' pk=campagne.id %}" class="btn btn-success" role="button">Joueurs</a>
                    <a href="{% url 'warhammer:editter_campagne' pk=campagne.id %}" class="btn btn-primary" role="button">Editter</a>
                    <a href="{% url 'warhammer:supprimer_campagne' pk=campagne.id %}" class="btn btn-danger" role="button">Effacer</a>
                </div>
                <div class="card-footer">
                <small class="text-muted">Date de modification: {{ campagne.date_update }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-xxl text-dark text-center">
        <h1>LISTE DES PERSONNAGES</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-3">
        {% for personnage in personnage_warhammer  %}
        <div class="col">
            <div class="card h-100 bg-implayer" style="background-image: url('{% static "img/background/papyrus-wallpaper.jpeg"%}')">
                {% if personnage.photo_personnage %}
                    <img src="{{ personnage.photo_personnage.url }}" class="object-fit-contain border rounded "  alt="Image">
                {% else %}
                    <img src="{% static "img/img_default/base_01.png" %}" class="object-fit-contain border rounded" alt="Image">  
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ personnage.nom }}</h5>
                    <p class="card-text text-dark">Joueur: <br> {{ personnage.joueur.username }}</p>
                    <p class="card-text text-dark">Date de modification: <br>{{ personnage.date_update }}</p>
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="{% url 'warhammer:details_personnages' pk=personnage.id %}" class="btn btn-success" role="button">Détails</a>
                    <a href="{% url 'warhammer:supprimer_personnages' pk=personnage.id %}" class="btn btn-danger" role="button">Effacer</a>
                    <a href="{% url 'warhammer:liste_campagne' %}" class="btn btn-info" role="button">Retour</a>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Date de création: {{ personnage.date_creation }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>        
</div>
{% endblock content %}
